<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sapiens</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Old+Uyghur&family=Oswald:wght@200&display=swap" rel="stylesheet">
	<link rel="icon" type="image/x-icon" href="{% static 'img/monkey.ico' %}">
	<link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>
		<div id="container">
				<header>
						<div id="header-bg"></div>
						<img src="{%static "img/profile-photo.jpeg"%}" alt="profile-photo" id="profile-photo">
						<div id="profile-title-section">
								<h3>Sapiens</h3>
								<p>Last connection: <b>02 November 2023</b></p>
						</div>
				</header>	
				<section id="options-nav">
						<ul>
								<li><a href="#">Author</a></li>
								<li><a href="#">All pages</a></li>
						</ul>
				</section>

				<section id="pages-container">
						<div id="reading-pages-container">
								<h3>Last 1-5 pages:</h3><br><br>
								<div class="page" id="1">
										<div class="page-title">
												<p>Title</p>
												<button>Go</button>
										</div>
										<p class="page-description">lorem ipsu</p>
								</div>

								<div class="page" id="1">
										<div class="page-title">
												<p>Title</p>
												<button>Go</button>
										</div>
										<p class="page-description">lorem ipsu</p>
								</div>
						</div>	

						<div id="writing-pages-container">
								<h3>Add page:</h3><br></br>
								<form action="#" method="POST">
										<label for="title">Title: </label><br>
										<input id="title" name="title" placeholder="..."></input><br>

										<label for="content">Content: </label><br>
										<textarea id="content"></textarea>
										
										<button id="discard-btn">Discard page</button>
										<button id="submit-btn">Publish page</button>
								</form>
						</div>
				</section>
		</div>
</body>
</html>
